.cache/

# Vim
*.swp
*.swo

# Visual Studio Code
.vscode/
*.code-workspace

# colcon
build/
install/
log/

# Dependencies
/src/dependencies/nebula_drs/
/src/dependencies/seyond_sdk/
/src/dependencies/oxts_ros2_driver/

# rosbags
*.mcap
*.db
*.db3
*.sqlite3
metadata.yaml
